language: cpp

clang-linux: &clang-linux
  os: linux
  dist: xenial
  python: "3.7"
  compiler: clang
  addons:
    apt:
      sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-trusty-8
      packages:
        - clang-8
        - libstdc++-8-dev
        - python3-pip

emscripten: &emscripten
  os: linux
  dist: xenial
  python: "3.7"
  compiler: clang
  addons:
    apt:
      packages:
        - python3-pip

osx: &osx
   os: osx
   language: generic
   osx_image: xcode11.3

matrix:
  include:
    - name: "Linux Clang 8.0 Release"
      <<: *clang-linux
      env:
        - PROFILE=clang-8-r-static
    - name: "Linux Clang 8.0 Debug Static"
      <<: *clang-linux
      env:
        - PROFILE=clang-8-d-static
    - name: "Emscripten WASM Release"
      <<: *emscripten
      env:
        - PROFILE=emscripten-w-r
    - name: "Emscripten Javascript Debug"
      <<: *emscripten
      env:
        - PROFILE=emscripten-js-d

install:
  - ./ci/travis/install.sh

script:
  - ./ci/travis/run.sh
